html {
  background: #F9EFE3;
}

body {
  background: #fff;
  font-family: "HK Grotesk", sans-serif;
  color: #0A0101;
  overflow-x: hidden;
  z-index: -2;
}

section {
  margin-bottom: 3rem;
  padding-bottom: 5rem;
}

a, a:visited, a:focus {
  color: #EA1515;
}

a:hover {
  color: #B30000;
  text-decoration: none;
}

hr {
  border-top: 1px solid #0A0101;
}


.disabled {
  display: none;
}

#sections {
  position: absolute;
  top: 0;
  height: 2rem;
  background: red;
  z-index: -1;
}

#content {
  z-index: 0;
}

#intro {
  padding: 0;
  margin-bottom: 0rem;
  border-bottom: 1px solid #0A0101;
  display: flex;
  align-items: center;
  /*background-image: url("../images/artwork.png");*/
  background-size: 1000px;
  background-position: bottom right;
  background-repeat: no-repeat;
}

::selection {
  background: #000;
  color: #fff;
}

#intro-2 {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0A0101;
}

#highlight {
  overflow-x: hidden;
}

.citation {
  font-size: 1.7rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
  /*font-family: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  "Helvetica Neue",
  sans-serif;*/
  font-family: "HK Grotesk", sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
}

h1 {
  font-size: 5rem;
  line-height: 0.9;
}

h2 {
  font-size: 3rem;
}

h6 {
  letter-spacing: 0;
}

hr {
  margin: 2rem 0;
}

#celeb {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 2rem;
}

.legend > .desc {
  padding-right: 1rem;
}

#legend {
  margin-top: 4rem;
}

#legend > * {
  font-size: 0.9rem;
}

#legend p, #legend h6 {
  margin: 0;
}

#legend p {
  display: inline-block;
  margin-right: 0.5rem;
}

#killingbees #legend {
  margin-top: 0;
  margin-bottom: 2rem;
}

.label {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}

.misto::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 0.6rem;
  margin-right: 0.5rem;
  background: greenyellow;
}

.frasi::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 0.6rem;
  margin-right: 0.5rem;
  background: deeppink;
}


.sintagma::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 0.6rem;
  margin-right: 0.5rem;
  background: gold;
}

.parole::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 0.6rem;
  margin-right: 0.5rem;
  background: aquamarine;
}


.event {
  flex-basis: 12rem;
  padding: 0.5rem;
  padding-bottom: 2rem;
  transition: opacity 0.3s ease;
  user-select: none;
}

.event:hover {
  cursor: pointer;
}

.event p {
  max-width: 80%;
  position: relative;
  margin-left: 30%;
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 0.2rem;
}

.event .glyph {
  position: absolute;
}

.location {
  font-style: italic;
}

.event .year {
  font-weight: bold;
}

.event .gender {
  font-weight: bold;
  float: left;
  margin-right: 0.5rem;
}

.state {
  font-family: "Helvetica";
  font-size: 1.2rem;
  font-weight: bold;
}

#details {
  min-height: 5rem;
  transition: all 0.3s ease;
}

#detCont {
  width: 90%;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  pointer-events: none;
}


svg {
  margin: auto;
  margin-bottom: 2rem;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.domain {
  stroke: #777;
  display: none;
}

.tick text {
  font-size: 0.7rem;
  font-family: "HK Grotesk",
  sans-serif;
}

.yAxis .tick line, .xAxis .tick line {
  stroke-width: 0.5;
  stroke: #777;
}

.xAxis .tick line {
  stroke-dasharray: 2,2;
}

.timelineAxis .tick line {
  stroke-dasharray: 2,2;
  stroke: #777;
}

.tick text {
  fill: #777;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;
}

.buttons p {
  margin-right: 0.5rem;
}

.bloodAxis .tick line, .xAxis .tick line {
  stroke-width: 1;
  stroke: #777;
}

button {
  background: #fff;
  padding: 0.2rem 0.5rem;
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 1px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: all 0.3s ease;
  outline: none;
  font-family: "HK Grotesk", sans-serif;
  font-size: 1rem;
}

button:focus {
  outline: none;
  background-color: #000;
}

.circ {
  transition: opacity 0.3s ease;
  border: 1px solid black;
}


.circ:hover {
  cursor: pointer;
  stroke: black;
}

.button-label {
  font-family: "HK Grotesk", sans-serif;
  font-size: 0.9rem;
}

.b_sel {
  border: 1px solid #0A0101;
  color: #0A0101;
}

.b_sel:hover {
  background: rgba(0, 0, 0, 0.3);
}

.d_sel {
  border: 1px solid #000;
  color: #000;
}

.d_sel:hover {
  background: black;
  color:white;
}

.d_del {
  background: grey;
  color: white;
  border: 1px solid rgba(0,0,0,.2);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.disabled {
  pointer-events: none;
  cursor: normal;
}

.selected {
  color: white;
}

.source {
  font-style: italic;
  font-size: 0.8rem;
  color: #777;
}

#tooltip {
  position: fixed;
  bottom: 3rem;
  left: 3rem;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

#tooltip p{
  margin-right: 0.2rem;
  line-height: 1.3;
  text-transform: lowercase;
  font-size: 1rem;
  transition: .3s ease;
  display: inline-block;
  font-family: "HK Grotesk", sans-serif;
  text-transform: uppercase;
}

.info {
  fill: black;
  font-size: 1rem;
  margin-bottom: 0;
}

.date {
  font-weight: bold;
}

#killingbees-ui {
  margin-bottom: 1rem;
  margin-top:  1rem;
}

#killingbees svg {
  overflow-x: hidden;
}

#footer {
  margin-bottom: 5rem;
}

#footer .col-4 {
  border-radius: 2px;
  color: #0A0101;
  padding: 1rem;
}

/* Mappa */

#map {
  margin-top: 4rem;
}

#map svg{
  border-top: 1px solid #9fc6c3;
  border-bottom: 1px solid #9fc6c3;
  cursor: move;
}

.mapTooltip {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 1rem;
  width: 13rem;
  pointer-events: none;
}

.mapTooltip p {
  font-size: 0.95rem;
  margin: 0.2rem;
}

.states {
  fill: #F9EFE3;
  stroke: #9fc6c3;
}

.mapCircle {
  stroke-width: 1;
}

.mapCircle:hover {
  cursor: pointer;
}

#map .date {
  font-size: 1.6rem;
}

.tip {
  font-family: "HK Grotesk", sans-serif;
  font-size: 0.8rem;
  color: rgba(0,0,0,.5);
}

.description {
  color: rgba(0,0,0,.5);
}

.bills-tooltip p {
  font-size: 0.98rem;
}

.code {
  font-size: 1.2rem !important;
  font-weight: bold;
}

.active {
  cursor: pointer;
}

.bills {
  transition: all 0.3s;
}

.bills:hover {
  cursor: pointer;
}

.mucchi {
  margin-top: 2rem;
  /*border-bottom: 1px solid #010A0A;*/
}

.mucchi img {
  margin-top: 1rem;
}

.mucchi > div {
  text-align: center;
}

.mucchi p {
  margin-bottom: 0;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  line-height: 1.1;
  font-size: 1rem;
  letter-spacing: -1px;
}

.KPI {
  font-size: 3rem !important;
}

.total {
  opacity: 0.4;
}



/* -----
Methodology
----- */

#methodology {
  background: snow;
  font-size: 1rem;
  text-transform: none;
}

#methodology a h4:before {
  content:"â†";
  margin-right: 1rem;
}

/* LOADER */
@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    transform: scale(3,3);
    opacity: 0;
  }
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #0A0101;
}

.dot-a {
  background: #F9EFE3;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 49%;
  left: 49%;
  animation: 1s pulse ease-out infinite;
}

#alert {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #F9EFE3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#alert > * {
  width: 50vw;
  font-size: 1.6rem;
}

@media only screen and (max-width : 1224px) {
  body {
    font-size: 0.9rem;
  }

}

@media only screen and (max-width : 768px) {
  #nav {
    display: none;
  }

  .citation {
    font-size: 1.3rem;
  }
}


element.style {
    background: #000;
}